<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactos</title>
    <link rel="stylesheet" href="../styles/contacto.css">
</head>
<body>

    <header>
        <div class="div1">
            <h4 class="d1">Diseño</h4> <h4 class="m1">Multimedia</h4> 
            <section class="I1"><a href="../index.html" class="link">Inicio</a></section>
            <section class="I1"><a href="../templates/nosotros.html" class="link"> Nosotros</a></section>
            <section><a href="../templates/servicios.html" class="link">Servicios</a></section>
            <section class="I1">Contacto</section>
        </div> 
    </header>

    <section class="seccion2"> 
        <div class="div2">
            <h2>Suscríbete a nuestro boletín</h2>
            <div class="div3">
                <input type="email" placeholder="Ingrese el Email" required>
                <button type="submit" class="suscribete">Suscríbete</button>
            </div>
        </div>
    </section>

    <div class="formulario">
        <h2>Formulario de Contacto</h2>
        <form action="#" method="POST">
            <div class="div6">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" placeholder="Ingrese el nombre" required>
            </div>
            <div class="div6">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Ingerese el Email" required>
            </div>
            <div class="div6">
                <label for="phone">Teléfono Celular</label>
                <input type="tel" id="phone" name="phone" placeholder="Ingrese el numero de celular" required>
            </div>
            <div class="div6">
                <label for="message">Mensaje</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="div5">
        <h5>Qué hacemos</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, ea placeat, non reiciendis eveniet, itaque ad doloribus recusandae animi nemo maiores tenetur magnam quis! Esse dolorum veritatis enim reprehenderit asperiores?</p>
    </div>

        <div class="imagen"></div> 

    <footer class="footer">
        <p>Graphel Desarrollo, Copyright &copy; 2017</p>
    </footer>

</body>
</html>
