<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <link rel="stylesheet" href="../styles/nosotros.css">
</head>
<body>
    <header>
        <div class="div1">
            <h4 class="d1">Diseño</h4> <h4 class="m1">Multimedia</h4> 
            <section class="I1"><a href="../index.html" class="link">Inicio</a></section>
            <section class="I1">Nosotros</section>
            <section ><a href="../templates/servicios.html" class="link">Servicios</a></section>
            <section><a href="../templates/contacto.html" class="link">Contacto</a></section>
        </div> 
    </header>
    <section class="seccion2"> 
        <div class="div2">
        <h2>Suscríbete a nuestro boletín</h2>
            <div class="div3">
                <input type="email" placeholder="Ingrese el Email" required>
                <button type="submit" class="suscribete">Suscríbete</button>
            </div>
        </div>
    </section>
    <section class="seccion3">
        <div>
        <h5>Nosotros</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ducimus delectus amet asperiores, velit laboriosam impedit aliquam vitae totam id perferendis, consectetur, odio quis repellat molestias est. Repellat, earum voluptas.
        Reprehenderit modi quod distinctio error soluta qui ducimus ipsum animi dignissimos nam, est optio maiores laudantium dolorem? Voluptatum, natus neque unde, obcaecati at ipsa adipisci distinctio error, alias cupiditate saepe!</p>
    </div>
    <div class="div4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, expedita eius deleniti facere impedit reiciendis quos veniam ipsam, aut architecto ex at, voluptatum vel. Deleniti sint ut fugiat rem quam.
        Soluta officia non nihil dicta sed at, ipsa et adipisci incidunt temporibus laboriosam beatae similique nam sit dignissimos ipsum voluptatibus numquam quam. Dignissimos, doloribus rem! Tempore fuga suscipit soluta repellendus.
        Saepe illum sint numquam cumque in. Maxime, voluptas quos repudiandae aperiam sunt quasi reprehenderit ipsam, amet nesciunt omnis quae.</p>
    </div>
    <div class="div5">
        <h5>Que hacemos</h5>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, ea placeat, non reiciendis eveniet, itaque ad doloribus recusandae animi nemo maiores tenetur magnam quis! Esse dolorum veritatis enim reprehenderit asperiores?
    </div>
        <img src="../assets/images/891.jpg" class="imagen">
    </section>
    <footer class="footer">
        <p>Graphel Desarrollo, Copyright &copy; 2017</p>
    </footer>
</body>
</html>