.div1{
    display: flex;
    background-color: rgb(34, 32, 32);
    padding: 20px 0 45px;
    margin: -8px;
    border-bottom: 8px #6787f0 solid;
}

.div1 h4{
    display: flex;
    margin: 10px -136px 0px 143px;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.m1{
    color: #6787f0;
}

.d1{
    color: white;
}

section{
    color: white;
    margin-left: 962px;
    margin-right: -883px;
    font-size: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.I1{
    color:#6787f0;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion1{
    display: flex;
    background-image: url(../assets/images/cabecera.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin: 8px -8px -100px;
    justify-content: center;
    
}

.h22{
    display:flex ;
    justify-content: center;
    font-size: 60px;
    margin: 130px 0 0 305px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    display:flex ;
    justify-content: center;
    margin:247px 0 0 -1013px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion2{
    background-color: rgb(22, 21, 21);
    padding: 20px 0 20px;
    margin: -8px;
}

.div2{
    display: flex;
    margin: 28px 113px;
    font-size: 13px;
}

.div3{
    margin: 10px 575px;
}

.suscribete{
    border: none;
    color: white;
    background-color: red;
    padding: 5px;
}

.div4{
    display: flex;
    gap: 281px;
    margin: 50px 0 0 -788px;
}

.logo{
    text-align: center;
}

.logo img{
    width: 200px;
    border-radius: 10px;

}

.logo p{
    margin-top: 10px;
    font-size: 14px;
    color: black;
    width: 300px;
}

.footer{
    background-color: #6787f0;
    padding: 20px 800px 20px;
    margin: -8px;
}

.footer p{
    color: white;
}


